{% extends 'layout.html.twig' %}
{% block title %}Association{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/office.css">
{% endblock %}

{% block content %}
<h1>Association</h1>

{% endblock %}