{% extends "adminLayout.html.twig" %}
{% block title %}
{{ parent() }} - Activité
{% endblock %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/admin/adminTrainers.css">
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<h1 class="text-center my-5">Modifier un entraîneur</h1>
</div>
{% include 'admin/adminFormTrainer.html.twig' with { 'button_name':'Modifier' }%}
</main>
{% endblock %}
