{% extends "adminLayout.html.twig" %}
{% block title %}
{{ parent() }} - Bureau
{% endblock %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/admin/adminActivities.css">
{% endblock %}
{% block content %}

<main class="container">
    <div class="row">
        <h1 class="text-center my-5">Ajouter du personnel au bureau</h1>
    </div>
    {% include 'admin/adminOfficeForm.html.twig' %}
</main>
{% endblock %}