{% extends "adminLayout.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/admin/adminActivities.css">
{% endblock %}
{% block content %}

<main class="container">
    <div class="row">
        <h1 class="text-center my-5">Modifier le personnel du bureau</h1>
    </div>
    {% include 'admin/adminOfficeForm.html.twig' with { 'button_name':'Modifier' }%}
</main>
{% endblock %}