.btn{
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
    justify-self: center;
}

.btn:hover{
    background-color: var(--primary-color);
}

.btn:active{
    background-color: var(--primary-color);
}

.btn:focus{
    background-color: var(--primary-color);
    box-shadow: none;
}