.btn-secondary{
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
    justify-self: center;
}

.btn-secondary:hover{
    background-color: var(--primary-color);
    fill: var(--light);
}

.btn-secondary:active{
    background-color: var(--primary-color);
}

.btn-secondary:focus{
    background-color: var(--primary-color);
    box-shadow: none;
}

.bi{
    fill: var(--dark);
    width: 16px;
    height: 16px;
}
