thead {
    color: var(--light);
}

.line:nth-child(odd) {
    color: var(--primary-color);
}

.btnAddTrainer {
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
    width: fit-content;
    justify-self: center;
}

.btnAddTrainer:hover {
    background-color: var(--primary-color);
}

.btnAddTrainer:active {
    background-color: var(--primary-color);
}

.btnAddTrainer:focus {
    background-color: var(--primary-color);
    box-shadow: none;
}

.bi {
    fill: black;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

}

.bi:hover {
    fill: white;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}