{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">

{% endblock %}
{% block content %}
	<header>
		<div class="header-rocs bg-cover text-white ">
			<div class="container py-5 text-center bg-dark  bg-opacity-75 ">
				<h1 class=" h1-header mt-5 fw-bold">Rocs Roller</h1>
				<h2 class="h2-header  mt-5 fw-bold ">ROLLER OLYMPIQUE CLUB STEORUELLAN</h2>
			</div>
		</div>
	</header>
	<div class="container py-5">
		<h2 class=" my-5 text-center">Qui sommes nous ?</h2>
		<div class="row">
			<div class="col mb-4">
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
			</div>
		</div>
		<div class="row featurette bg-light">
			<div class="col-md-7 ">
				<h2 class="featurette-heading my-5">Nos activités</h2>
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
				<a class="btn activity-btn mb-2" href="activite?id={{ activity.id }}">en savoir plus</a>
			</div>
			<div class="col-md-5 mt-3">

				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

					<div class="carousel-inner">
						{% for activity in activities %}
							<div class="carousel-item {{ loop.first?'active':''}} ">
								<img src="uploads/{{ activity.image }} " class="d-block w-100">
							</div>
						{% endfor %}
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

		</div>

	</div>


{% endblock %}
