{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
	<header>
		<div class="header-rocs bg-cover text-white d-flex ">
			<div class="container py-5 text-center bg-dark bg-opacity-75 h-100 w-100">
				<h1 class=" h1-header mt-5 fw-bold">R.O.C.S. Roller</h1>
				<h2 class="h2-header mt-5 fw-bold ">Roller Olympique Club Stéoruellan</h2>
				<p>Artistique - Course - Ecole de patinage - Freestyle - Randonnée - Rink Hockey - Roller Hockey
				</p>
			</div>
		</div>
	</header>
	<div class="container ">
		<h2 class=" my-5 text-center">Qui sommes-nous ?</h2>
		<div class="row">
			<div class="col mb-4">
				<p>A l'occasion de la fête du Sport, la mairie de Saint-Jean-de-la-Ruelle organisait en 1984, une randonnée très particulière puisque tous les participants chaussaient des patins à roulettes.
															En 1986, la ville de Saint-Jean-de-la-Ruelle projette de relever un grand défi. 
															Parcourir 1200 km en relais sur patins à roulettes et relier Saint Jean de la Ruelle à Amposta, la ville jumelle Espagnole.
															Le R.O.C.S. ou Roller Olympique Club Stéoruellan était né, vingt-huit jeunes participent à cette aventure et grâce à leur exploit, obtiennent une mention au livre des records.
															Au fil des années, le Club s'agrandit et compte actuellement
															5 disciplines : Artistique, Course, Roller Hockey, Rink Hockey, Randonnée ainsi qu'une école de Patinage.
															Le R.O.C.S. est affilié à la Fédération Française de Roller Sports (FFRS).</p>
			</div>
		</div>
		<div class="card card-activities bg-light w-80 my-5">
			<div class="row g-0 ">
				<div class="col-md-7 ">
					<h2 class="featurette-heading my-2 mr-3 text-center">Nos activités</h2>
					<p class=" m-5 mb-0">Le ROCS roller propose des multi-activités en salle, de roller artistique et de roller loisir.
																		Un rendez-vous idéal pour apprendre les bases du roller ou se perfectionner pour les plus agiles. Sport complet regroupant agilité, vitesse, équilibre, qui renforce naturellement les cuisses, les fessiers, la ceinture abdominale et dorsale.
					</p>
					<a class="btn activity-btn mx-5 " href="activites">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-home" viewbox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
						en savoir plus</a>
				</div>
				<div class="col-md-5 mt-3 ">
					<div id="carouselExampleControls" class="carousel slide m-3" data-bs-ride="carousel">
						<div class="carousel-inner">
							{% for activity in activities %}
								<div class="carousel-item {{ loop.first?'active':''}} ">
									<img class="img-fluid d-block w-100 " alt="image activites" src="uploads/activity/{{ activity.image }} ">
								</div>
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
