{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Cotisations 2021 / 2022</h1>
	<section class="table-membership">
		<table class="table table-bordered border table-borderless">
			<thead class="table-light">
				<tr>
					<th scope="col" colspan="1">Adhésion par foyer</th>
					<th scope="col" colspan="4">Type de licence</th>
				</tr>
				<tr>
					<th scope="row"></th>
					<th scope="row">Loisir
						<br>plus de 15ans</th>
					<th scope="row" colspan="1">Compétition
						<br>moins de 13 ans</th>
					<th scope="row" colspan="1">Compétition
						<br>plus de 13 ans</th>
					<th scope="row" colspan="1">Dirigeant et
						<br>entraîneur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1er adhérent</th>
					<td>104,00€</td>
					<td>93,00€</td>
					<td>104,00€</td>
					<td>53,00€</td>
				</tr>
				<tr>
					<th scope="row">2ème adhérent</th>
					<td>101,00€</td>
					<td>90,00€</td>
					<td>101,00€</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">3ème adhérent</th>
					<td>98,00€</td>
					<td>87,00€</td>
					<td>98,00€</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}
