{% block title %}
Admin
{% endblock %}
{% extends "layout.html.twig" %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/adminNavbar.css">
{% endblock %}
{% block navbar %}
{% include "Include/_adminNavbar.html.twig" %}
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<div class="col offset-10 mt-5">
    <a href="/admin/deconnexion" class="btn btn-danger">Déconnexion</a>
</div>
{% endblock %}
