
.activity-btn {
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
    float: right;
}



.activity-btn:hover {
    background-color: var(--primary-color);
}

.card-activity:nth-child(even){
    flex-direction: row-reverse;
  }

