.footer {
    background: var(--dark);
    color: var(--light);
    margin: 0%;
    border-top: var(--secondary-color) 3px solid;
}

.bi {
    fill: var(--light);
    width: 1.7rem;
    height: 1.7rem;
}

.bi-geo-alt-fill {
    width: 2.5rem;
    height: 2.5rem;
}

.card-footer {
    color: var(--h3-color);
}

iframe {
    width: 400rem;
    height: 14rem;
    border-radius: 10px;
}

img.logo {
    height: 14rem;
}

span {
    color: var(--light);
}