.header-rocs {
    background-image: url('../images/ROCS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.h1-header {
    color: var(--secondary-color);
}

.h2-header {
    color: var(--light);
    font-size: 30px;
}

.carousel-item {
    width: 500px;
    height: 400px;
}

.activity-btn {
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
    float: right;
}

.activity-btn:hover {
    background-color: var(--primary-color);
}