.table-subscription td {
    color: var(--primary-color);
}

.document {
    background-color: var(--secondary-color);
    border: none;
    color: var(--dark);
}

.document:hover {
    background-color: var(--primary-color);
}


.bi-down {
    fill: black;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
}

.bi-down:hover {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
}