.navbar-rocs {
    background-color: var(--dark);
    border-bottom: 3px solid var(--secondary-color);
}

a.link-rocs {
    color: var(--light);
}

a.link-rocs:visited {
    color: var(--light);
}

a.link-rocs:hover {
    color: var(--secondary-color);
}

.navbar-toggler {
    background-color: var(--secondary-color);
}

.logo-navbar {
    width: 5rem;
    height: 5rem;
}