<nav class="navbar navbar-rocs navbar-expand-lg ">
	<div class="container-fluid">
		<a href="/"><img src="assets/images/logo.png" class="logo-navbar"></a>
		<button class="navbar-toggler mr-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</button>
		<div class="collapse navbar-collapse justify-content-end my-sm-2  " id="navbarNavAltMarkup">
			<div class="navbar-nav gap-4">
				<a class="nav-link link-rocs p-1" href="/activites">Activités</a>
				<a class="nav-link link-rocs p-1" href="#">Actualités</a>
				<a class="nav-link link-rocs p-1" href="/adhesion">Adhésions</a>
				<a class="nav-link link-rocs p-1" href="/association">Association</a>
			</div>
		</div>
	</div>
</nav>
