<nav class="navbar navbar-rocs navbar-expand-lg ">
	<div class="container-fluid">
		<img src="assets/images/logo.png" width="45" height="45">
		<button class="navbar-toggler mr-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
			<div class="navbar-nav align-items-center">
				<a class="nav-link link-rocs ms-5" href="#">Activités</a>
				<a class="nav-link link-rocs ms-5" href="#">Actualités</a>
				<a class="nav-link link-rocs ms-5" href="#">Adhésions</a>
				<a class="nav-link link-rocs ms-5" href="#">Association</a>
			</div>
		</div>
	</div>
</nav>
